body {
  background-image:url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-black-solid-color-background.jpg)
}
p,h1,h2,a,button,input,label{
  font-family:"Montserrat";
  color: black;
}

label{
    color: white  ;
  }
.grid {
  margin: 2em auto;
  width: 600px;
  height: 600px;
  border: 1px solid white;
}

.grid td {
  cursor: pointer;
  width: auto;
  height: auto;

}
#reset {
    margin-right: 90px;
}
#resetResize{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nSize {
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
}
.erase {
    background-color: black;
}
.pink {
  background-color: thistle;
}
.black {
  background-color: black;
}
.yellow {
  background-color: gold;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red  {
  background-color: crimson;
}
.white {
  background-color: white;
  
}
#titleContainer {
  display: flex;
  justify-content: center;
}
#mainTitle {
text-decoration: underline;
color: white;
}
#colorButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#colorButtons button {
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-width: 0ch;
}
#pink:hover  {
  background-color: thistle;
  width: 70px;
  height: 70px;
  transition: 0.4s
  
}
#yellow:hover {
  background-color: gold;
  width: 70px;
  height: 70px;
  transition: 0.4s
}
#green:hover {
  background-color: green;
  width: 70px;
  height: 70px;
  transition: 0.4s
}
#blue:hover {
  background-color: blue;
  width: 70px;
  height: 70px;
  transition: 0.4s
}
#red:hover {
  background-color: red;
  width: 70px;
  height: 70px;
  transition: 0.4s
}
#white:hover {
  background-color: white;
  width: 70px;
  height: 70px;
  transition: 0.4s
  
}
#black:hover {
  background-color: black;
  color: white;
  width: 70px;
  height: 70px;
  transition: 0.4s
}
#rainbow:hover {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
  width: 70px;
  height: 70px;
  transition: 0.4s
}
#reset {
  height: 50px;
  width: 50px;
  background: maroon;
}
